body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
     *zoom: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;
}
li {
    list-style: none;
}
.goback {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: url(../images/back.png) no-repeat;
    background-size: 38px 38px;
}
/* 搜索模块 */
.search-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 50px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}
.search {
    position: relative;
    flex: 1;
    /* background-color: pink; */
    height: 26px;
    border: 1px solid #ccc;
    margin: 6px 10px;
    align-self: center;
    border-radius: 5px;
    font-style: 12px;
    color: #666;
    line-height: 24px;
    padding-left: 23px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

}
.search::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background: url(../images/sprite.png) no-repeat -60px -280px;
    background-size: 104px auto;
    top: 6px;
    left: 6px;
}
.user {
    width: 50px;
    height: 50px;
    font-style: 12px;
    letter-spacing: 3px;
    color: blue;
    text-align: center;
}
.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 5px auto 0;
}
.foucs {
    position: relative;
    padding-top: 50px;
    overflow: hidden;
}
.foucs ul {
    /* position: absolute; */
    margin-left: -100%;
   width: 500%;
}
.foucs ul li {
   float: left;
   width: 20%;
    
}
.foucs img {
    width: 100%;
}
.foucs ol {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.foucs ol li {
    float: left;
    margin: 3px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    transition: all .3s;
}
.current {
    width: 15px!important;
}
.local-search {
    display: flex;
    background-color: #fff;
    margin: 3px 4px;
    height: 64px;
    border-radius: 8px;
}
.local-search li {
    flex: 1;
}
.local-search a {
    display: flex;
    height: 64px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.local-search li [class ^= "local-search-icon"] {
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 64px auto;
}

.local-search li .local-search-icon-item2 {
    background-position: 0 -32px;
}
.local-search li .local-search-icon-item3 {
    background-position: 0 -64px;
}
.local-search li .local-search-icon-item4 {
    background-position: 0 -96px;
}
.local-search li .local-search-icon-item5 {
    background-position: 0 -128px;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 278px;
    border-radius: 8px;
    margin: 0 4px 3px;
}
.nav-commom {
    display: flex;
    height: 88px;
    /* background-color: pink; */
}
.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.nav-items:nth-of-type(-n + 2) {
    border-right: 1px solid #fff;
}
.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    color: #fff;
    font-size: 14px;
}
.nav-items a:nth-child(1){
    border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.nav-commom:nth-child(1) {
    background: -webkit-linear-gradient(left,#FA5A55,#FA994D);
}
.nav-commom:nth-child(2) {
    background: -webkit-linear-gradient(left,#4B90ED,#53BCED);
}
.nav-commom:nth-child(3) {
    background: -webkit-linear-gradient(left,#34C2A9,#6CD559);
}
.subnav {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);

}
.subnav li {
    flex: 20%;
}
.subnav a {
    display: flex;
    height: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subnav [class ^= subnav-icon] {
    width: 28px;
    height: 28px;
    background-color: pink;
    background: url(../images/subnav-bg.png) no-repeat 0 0;
    background-size: 28px auto;
}
.subnav .subnav-icon2 {
    background-position: 0 -28px;
}
.subnav .subnav-icon3 {
    background-position: 0 -63px;
}
.subnav .subnav-icon4 {
    background-position: 0 -98px;
}
.subnav .subnav-icon5 {
    background-position: 0 -130px;
}
.subnav .subnav-icon6 {
    background-position: 0 -160px;
}
.subnav .subnav-icon7 {
    background-position: 0 -197px;
}
.subnav .subnav-icon8 {
    background-position: 0 -225px;
}
.subnav .subnav-icon9 {
    background-position: 0 -257px;
}
.subnav .subnav-icon10 {
    background-position: 0 -283px;
}
.sales-box {
    margin: 4px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}
.sales-hd h2 {
    text-indent: -999px;
    overflow: hidden;

}
.sales-hd h2::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 20px;
    width: 79px;
    height: 15px;
    background:url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.sales-hd a {
    position: absolute;
    right: 10px;
    top: 10px;
    background: -webkit-linear-gradient(left,#FF506C,#FF6BC6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}
.sales-hd a::after {
    position: absolute;
    content: "";
    top: 8px;
    right: 8px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.sales-bd .row {
    display: flex;
    border-bottom: 1px solid #eee;
}
.sales-bd .row a {
    flex: 1;
}
.sales-bd .row a:nth-child(1) {
    border-right: 1px solid #eee;
}
.sales-bd .row a img {
    width: 100%;
}